body {
    font-family: 'Inter', sans-serif;
    background: #333;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
}

page {
    background: white;
    display: block;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto 0.5cm auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

@page {
    font-family: 'Source Sans Pro', sans-serif;
    size: 21cm 29.7cm;
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}


.leftPanel {
    width: 25%;
    background-color: #4b585e;
    padding: 0.4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rightPanel {
    width: 75%;
    padding: 0.4cm;
}


.name {
    display: block;
    color: #111;
    font-weight: normal;
    font-size: 1cm;
    transform: scale(1, 1.15);
    margin-bottom: 0.3cm;
    margin-top: 0.0cm;
}

.picture {
    display: block;
    width: 4cm;
    height: 4cm;
    margin-bottom: 0.7cm;
    border-radius: 50%;
    border: 0.15cm solid white;
    object-fit: cover;
    object-position: 50% 50%;
}


.contactsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contactsList,
.contactsList a {
    color: #fff;
    font-size: 0.36cm;
    text-decoration: none;
}

.contactsList li {
    margin: 0.2cm 0;
}

.bottomContactsList {
    position: relative;
    top: 16.5cm;
    width: 100%;
    margin: 0;
    padding: 0.2cm 0;
    border-bottom: 0.05cm solid white;
    border-top: 0.05cm solid white;
}

.contactIcon {
    width: 0.4cm;
    font-size: 0.4cm;
    text-align: center;
    margin: 0;
    padding: 0;
}


.sectionTitle {
    font-family: 'Archivo Narrow', sans-serif;
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: left;
}

.leftPanel .sectionTitle {
    font-size: 0.5cm;
    margin-top: 0.25cm;
    margin-bottom: 0.3cm;
    color: #ffffff;
}

.rightPanel .sectionTitle {
    font-size: 0.6cm;
    margin-left: -0.1cm;
    margin-top: 0.5cm;
    margin-bottom: 0.3cm;
    color: #4b585e;
}


.leftPanel .lineSeparator {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0.5cm;
    margin-bottom: 0.4cm;
    border-bottom: 0.05cm solid white;
}


.leftPanel .lineSeparatorTop {
    margin-top: 0.1cm !important;
}

.leftPanel .sectionContentsList {
    display: block;
    width: 100%;
    color: #eee;
    list-style-type: none;
    font-size: 0.38cm;
    margin: 0 0 0 0.1cm;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.1cm 0 0 0;
}

.leftPanel .sectionContentsList li {
    padding: 0 0 0.25cm 0;
}


.timeline {
    border-left: 0.1cm solid #4b585e;
    padding-bottom: 0.3cm;
}


.timelineEntry {
    position: relative;
    margin: 0;
    padding: 0 0 0 0.1cm;
    background: white;
    color: #000;
    border-radius: 0.2cm;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.timelineEntry::before {
    content: "";
    position: absolute;
    width: 0.10cm;
    height: 0.10cm;
    background: white;
    border-radius: 26.4cm;
    left: -0.17cm;
    border: 0.1cm solid #4b585e;
}


.timelineEntryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    margin-left: 0.2cm;
    margin-top: -0.08cm;
    padding: 0;
}

.timelineEntryTitle,
.timelineEntryTitle a {
    line-height: 0.34cm;
    vertical-align: top;
    color: #000;
}

.timelineEntryTitle {
    font-size: 0.34cm;
    font-weight: bold;
}

.timelineEntryTitle a {
    font-size: 0.32cm;
    font-weight: bold;
    text-decoration: underline;
}

.timelineEntryLocationDate {
    vertical-align: top;
    font-size: 0.31cm;
    line-height: 0.34cm;
    font-weight: normal;
}

.timelineEntryDetails {
    font-size: 0.38cm;
    text-align: left;
    padding: 0;
    margin: 0 0 0 1cm;
    margin-block-start: 0.1cm;
    margin-block-end: 0.5cm;
}

.timelineEntryDetails li {
    padding: 0 0 0.1cm 0;
}

.additionalTrainingList {
    font-size: 0.38cm;
    text-align: left;
    margin: 0 0 0 0.5cm;
    padding: 0;
    margin-block-start: 0.2cm;
    margin-block-end: 0cm;
}

.additionalTrainingList li {
    padding: 0 0 0.15cm 0;
}


.extraNote {
    font-size: 0.4cm;
    text-align: left;
    padding: 0;
    margin: 0.3cm 0 0.2cm 0;
}


.publicationsList {
    font-size: 0.38cm;
    text-align: left;
    margin: 0 0 0 0.5cm;
    padding: 0;
    margin-block-start: 0.2cm;
    margin-block-end: 0.1cm;
}

.publicationsList li {
    padding: 0 0 0.2cm 0;
}

.publicationsList li,
.publicationsList li a {
    color: #000;
}

.publicationsList li a {
    text-decoration: underline;
}

.publicationsList li b {
    font-weight: bold;
}