/* Fonts */

/* Family */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 { /* Contact, Skills, Education, About me, Work Experience */
  font-family: 'Archivo Narrow', sans-serif;
}

h3 { /* Accountant */
  font-family: 'Open Sans', sans-serif;
}

.jobPosition span,
.projectName span {
  font-family: 'Source Sans Pro', sans-serif;
}

.upperCase {
  text-transform: uppercase;
}

.smallText,
.smallText span,
.smallText p,
.smallText a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: alignleft;
}

.smallText2,
.smallText2 span,
.smallText2 p,
.smallText2 a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: alignleft;
}
.smallText2 ul {
  margin-left: 0;
  padding-left: 0.5cm
}

.smallText3,
.smallText3 span,
.smallText3 p,
.smallText3 a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: alignleft;
}

.smallText3 ul {
  margin-left: 0;
  padding-left: 0.5cm;
}

/* End Family */

/* Colors */
h1 {
  color: #111;
}

h2 {
  color: #4b585e;
}

.leftPanel,
.leftPanel a {
  color: #bebebe;
  text-decoration: none;
}

.leftPanel h2 {
  color: white;
}

/* End Colors */

/* Sizes */
h1 {
  font-weight: 300;
  font-size: 1.2cm;
  transform:scale(1,1.15);
  margin-bottom: 0.2cm;
  margin-top: 0.5cm;
  text-transform: uppercase;
}

h2 {
  margin-top: 0.45cm;
  margin-bottom: 0.35cm;
}

.leftPanel,
.leftPanel a {
  font-size: 0.38cm;
}

.projectName span,
.jobPosition span {
  font-size: 0.35cm;
}

.smallText,
.smallText span,
.smallText p,
.smallText a {
  font-size: 0.36cm;
}

.smallText2,
.smallText2 span,
.smallText2 p,
.smallText2 a {
  font-size: 0.36cm;
}

.leftPanel .smallText,
.leftPanel .smallText,
.leftPanel .smallText span,
.leftPanel .smallText p,
.smallText a {
  font-size: 0.40cm;
}


.leftPanel .smallText3,
.leftPanel .smallText3,
.leftPanel .smallText3 span,
.leftPanel .smallText3 p,
.smallText a {
  font-size: 0.38cm;
}

.contactIcon {
  width: 0.5cm;
  text-align: center;
}

p {
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}
/* End Sizes */

.bolded {
  font-weight: bold;
}

.white {
  color: white;
}
/* End Fonts */

/* Layout */
body {
  background: rgb(204,204,204);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
}

/* Printing */
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

@page {
   size: 21cm 29.7cm;
   padding: 0;
   margin: 0mm;
   border: none;
   border-collapse: collapse;
}
/* End Printing */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 27%;
  background-color: #4b585e;
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.rightPanel {
  width: 73%;
  padding: 0.7cm;
}

.leftPanel img {
  width: 4cm;
  height: 4cm;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  object-fit: cover;
  object-position: 50% 50%;
}

.leftPanel .details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.leftPanel .details2 {
  position: relative;
  top:13cm;
  width: 100%;
  height: 5cm;
  flex-direction: column;
}

.leftPanel .item {
  position: relative;
  width: 100%;
  flex-direction: column;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  top: 10cm;
}

.skill>ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.4;
  padding-bottom: 0.4;
}


.skill>ul>li {
  list-style-type: none;
  padding-left: 0cm;
  padding-bottom:0.2cm;
  padding-bottom:0.2cm;
}

.bottomLineSeparator {
  border-bottom: 0.05cm solid white;
}

.topLineSeparator {
  border-top: 0.05cm solid white;
}

.alignleft {
  text-align: left !important;
  width: 1cm;
}

.alignright {
  text-align: right !important;
  width: 0.6cm;
  margin-right: 0.1cm
}



.jobPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}



.item {
  padding-bottom: 0.3cm;
  padding-top: 0.3cm;
}

.item h2{
  margin-top: 0;
}

.lastParagrafNoMarginBottom {
  margin-bottom: 0;
}

/*End Layout*/

/* Timeline Container */
.timeline {
  background: #4b585e;
  margin: 0.05cm auto;
  padding: 0.05cm;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 0.1cm solid #4b585e;
  padding-bottom: 0.1cm;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 0 0.5cm;
  padding: 0 0.1cm;
  background: white;
  color: #4b585e;
  border-radius: 0.2cm;
  max-width: 100%;

}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 0.3cm;
}

/* Title of the card */
.title {
  color: #4b585e;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 0.10cm;
  height: 0.10cm;
  background: white;
  border-radius: 26.4cm;
  left: -0.79cm;
  border: 0.1cm solid #4b585e;
}
